{% extends "html_sites/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<style>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
</style>
<div class="jumbotron">
    <h2>About OLLII</h2>
    <p>OLLII stands for Online Library for Learning, Implementation, and Innovation. This project is a collaboration between <a href="https://chip.unc.edu/">Carolina Health Informatics Program</a> and the <a href="https://sph.unc.edu/mch/maternal-and-child-health/">Department of Maternal and Child Health at UNC Gillings School of Global Public Health.</a></p>
    <p><a class="btn btn-primary btn-md" href="https://ollii.unc.edu" role="button">Go to OLLII's main page &raquo;</a></p>
    <h2 class="mt-5">Meet the Team</h2>
    <hr class="my-4">
    <center>
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Javed Mostafa</h5>
                <p>Professor, School of Information and Library Science; Director, Carolina Health Informatics Program; Director, Laboratory of Applied Informatics Research</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Herbert Peterson</h5>
                <p>William R. Kenan, Jr. Professor, Department of Maternal and Child Health, Department of Obstetrics and Gynecology; Director, WHO Collaborating Center for Research Evidence for Sexual and Reproductive Health</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Joumana Haider</h5>
                <p>Adjunct Assistant Professor, Department of Maternal and Child Health; Deputy Director, WHO Collaborating Center for Research Evidence for Sexual and Reproductive Health</p>
            </div><!-- /.col-lg-4 -->
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Julia Zarb</h5>
                <p>Assistant Professor, IHPME; Program Director, MHI (University of Toronto)</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Kathy Biancardi</h5>
                <p>Public Communication Specialist, Department of Maternal and Child Health</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Kartik Venkatesh</h5>
                <p>Fellow, Maternal-Fetal Medicine</p>
            </div><!-- /.col-lg-4 -->
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Caitlin Williams</h5>
                <p>Doctoral Student, Department of Maternal and Child Health</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Stephanie Bogdewic</h5>
                <p>Doctoral Student, Department of Maternal and Child Health</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Sandeep Avula</h5>
                <p>Doctoral Student, SILS</p>
            </div><!-- /.col-lg-4 -->
        </div>
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Zheng Qi</h5>
                <p>Undergraduate Student</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                </svg>
                <h5>Xinzhao Li</h5>
                <p>Undergraduate Student</p>
            </div><!-- /.col-lg-4 -->
        </div>
    </center>
</div>
{% endblock %}