{% extends "html_sites/base.html" %}
{% block title %}help4mom{% endblock %}
{% load static %}
{% block content %}
<div class="pricing-header pt-md-5 mx-auto text-center">
    <h4> Help4Mom</h4>
</div>
<div class='text-center'>
    <img class='mt-3' src="{% static 'img/pregnancy.jpg' %}" usemap="#planetmap" style='height:200px;width:549px;'>
    <map name="planetmap">
        <area shape="rect" coords="0,0,61,200" href="?term=First Trimester" alt="one">
        <area shape="rect" coords="61,0,122,200" href="?term=First Trimester" alt="two">
        <area shape="rect" coords="122,0,183,200" href="?term=First Trimester" alt="three">
        <area shape="rect" coords="183,0,244,200" href="?term=Second Trimester" alt="four">
        <area shape="rect" coords="244,0,305,200" href="?term=Second Trimester" alt="five">
        <area shape="rect" coords="305,0,366,200" href="?term=Second Trimester" alt="six">
        <area shape="rect" coords="366,0,427,200" href="?term=Last Trimester" alt="seven">
        <area shape="rect" coords="427,0,488,200" href="?term=Last Trimester" alt="eight">
        <area shape="rect" coords="488,0,549,200" href="?term=Last Trimester" alt="nine">
    </map>
</div>
<!-- search -->
<!-- <center>
    <form class="input-group col-sm-6 mt-3 align-items-center">
        <input class="form-control amber-border" type="search" name="term" placeholder="Input your word here" aria-label="Search">
        <button class="btn btn-outline-primary ml-2" type="submit">Search</button>
    </form>
</center>
 -->
{% if results %}
<!-- show results -->
<div name="results_here" id="getresults">
    {% for result in results %}
    <div class="card mt-4 bg-light">
        <div class="card-header">
            {{ result.title | safe }}
        </div>
        <div class="mx-2 my-2">
            {{ result.summary | safe }}
        </div>
    </div>
    {% endfor %}
    <!-- pagination -->
    {% if results.has_other_pages %}
    <ul class="pagination justify-content-center" style="margin:0;">
        {% if results.has_previous %}
        <li class="page-item"><a class="page-link" href="?term={{ term }}&page={{ results.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span></a></li>
        {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span><span class="sr-only">Previous</span></a></li>
        </li>
        {% endif %}
        {% for i in results.paginator.page_range %}
        {% if results.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?term={{ term }}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if results.has_next %}
        <li class="page-item"><a class="page-link" href="?term={{ term }}&page={{ results.next_page_number }}"><span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span></a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link" aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endif %}
{% endblock content %}