{% extends "html_sites/base.html" %}
{% block title %}help4mom{% endblock %}
{% load static %}
{% block content %}
<div class="pricing-header pt-md-5 mx-auto text-center">
    <h4> Help4Mom</h4>
</div>
<div class='text-center'>
    <img class='mt-3 img-fluid' src="{% static 'img/pregnancy.jpg' %}" usemap="#planetmap" style='height:340px;width:800px;'>
    <map name="planetmap">
        <area shape="rect" coords="0,0,260,340" href="?term=First Trimester" alt="one">
        <area shape="rect" coords="260,0,460,340" href="?term=Second Trimester" alt="two">
        <area shape="rect" coords="440,0,660,340" href="?term=Last Trimester" alt="three">
        <area shape="rect" coords="660,0,800,340" href="?term=Childbirth" alt="four">
        
    </map>
</div>
<!-- search -->
<!-- <center>
    <form class="input-group col-sm-6 mt-3 align-items-center">
        <input class="form-control amber-border" type="search" name="term" placeholder="Input your word here" aria-label="Search">
        <button class="btn btn-outline-primary ml-2" type="submit">Search</button>
    </form>
</center>
 -->
{% if results %}
<!-- show results -->
<div name="results_here" id="getresults">
    {% for result in results %}
    <div class="card mt-4 bg-light">
        <div class="card-header">
            {{ result.title | safe }}
        </div>
        <div class="mx-2 my-2">
            {{ result.summary | safe }}
        </div>
    </div>
    {% endfor %}
    <!-- pagination -->
   
    <ul class="pagination justify-content-center mt-3" >
        {% if results.has_previous %}
        <li class="page-item"><a class="page-link" href="?term={{ term }}&page={{ results.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span></a></li>
        {% else %}
        <li class="disabled page-item"><span class="page-link">&laquo;</span><span class="sr-only">Previous</span></a></li>
        </li>
        {% endif %}
        {% for i in results.paginator.page_range %}
        {% if results.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?term={{ term }}&page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if results.has_next %}
        <li class="page-item"><a class="page-link" href="?term={{ term }}&page={{ results.next_page_number }}"><span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span></a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link" aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        </li>
        {% endif %}
    </ul>
   
</div>
{% endif %}
{% endblock content %}