.jumbotron{
  background-color: #FAFAFA;
  margin: 0;
}
body,html {
  height: 100%;
  margin:0; /* remove default margin */
  padding:0; /* remove default padding */
  width:100%; /* take full browser width */

}
.more {display: none;}



#related > u:hover{
  color:#007bff;
}
area{

  outline:none;
}
.btn-outline-success{
  color:#fff;
  border-color: #fff;

}
#navbarSupportedContent > form > button:hover{
  color:#000;
  background: #fff;
}

 body,html{
          background-color: #F3F0EF;
       
      }

#navbarSupportedContent > ul > li > a:hover{

color:#fff;


}



.container {
          background-color: #FAFAFA;
          padding :0; 
          min-height: 100%
  

      }
.heading{
  font-size: 20px;
}

.top{
  padding:4rem 0;
  width:100%;
}
.main-color{
  background: #578ed6;
}
.card{
  background-color: #FAFAFA;
}


.text-white-50 { color: rgba(255, 255, 255, .5); }
​
.bg-purple { background-color: var(--purple); }
​
.border-bottom { border-bottom: 1px solid #e5e5e5; }
​
.box-shadow { box-shadow: 0 .75rem .75rem rgba(0, 0, 0, .05); }
​
.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
