{% extends "html_sites/base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="jumbotron">
    <h4 class="display-5">Project Description</h4>
    <hr class="my-4">
    <p class="lead">Ollii stands for Online Library for Learning Implementations & Innovation</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
<div class="jumbotron">
    <h4 class="display-5">People</h4>
    <hr class="my-4">
    <ul>
        <li>Javed Mostafa</li>
        <li>Sandeep Avula</li>
        <li>Zheng Qi</li>
        <li>Xinzhao Li</li>
    </ul>
</div>
{% endblock %}