{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="https://asandeepc.bitbucket.io/ollii_css/css/style.css">

       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://asandeepc.bitbucket.io/ollii_css/js/index.js"></script>
  

    <style>
        .cover {
          padding-top: 180px;
          padding-left: 80px;
          padding-left: 80px;
        }

    </style>



    <title>{% block title %}{% endblock %}</title>



</head>

<body>
    <div class="container d-flex flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="nav-link text-light navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon text"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'help4mom' %}">Help4Mom</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'implementor' %}">Implementor</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'definition' %}">Definition</a>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <footer class="mt-auto text-muted font-weight-bold text-center text-small">
            <ul class="list-inline my-1">
                <li class="list-inline-item"><a href="{% url 'home' %}" class= "text-muted">Home</a></li>
                <li class="list-inline-item"><a href="{% url 'about' %}" class= "text-muted">About</a></li>
                <li class="list-inline-item"><a href="mailto: asandeep@live.unc.edu" class= "text-muted">Contact Us</a></li>
            </ul>
            <p>Copyright &copy; 2020 OLLII</p>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
</body>

</html>