{% extends "html_sites/base.html" %}
{% block title %}OLLII{% endblock %}
{% load static %}
{% block content %}




<main role="main" class="cover">


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">OLLII</h1>
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <p class="lead"><b>O</b>nline <b>L</b>ibrary for <b>L</b>earning <b>I</b>mplementation and <b>I</b>nnovation (<b>OLLII</b>) is a project with a focus on developing re-usable knowledge resources, search and data mining tools, and interactive learning for capacity building and training in the area of maternity health and child development.   It draws on cutting-edge domain research and computing technologies for developing resources and it utilizes implementation science as both a target and a foundational domain to offer informatics services.   The project team includes experts in public health, medicine, and clinical informatics, based in the University of North Carolina at Chapel Hill.</p>
</div>

</main>

{% endblock content %}