{% extends "html_sites/base.html" %}
{% block title %}implementor search{% endblock %}
{% block content %}
<div class="pricing-header pt-md-5 mx-auto text-center">
    <h4>Implementor Search</h4>
</div>
<center>
    <form class="input-group col-sm-6 mt-3 align-items-center">
        <input class="form-control amber-border" type="search" name="term" placeholder="Input your word here" aria-label="Search">
        <button class="btn btn-outline-primary ml-2" type="submit">Search</button>
    </form>
</center>
{% endblock content %}